<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ordersystem.mapper.DishFlavorMapper">
    <!--添加最喜欢菜品-->
    <insert id="add">
        insert into
            dish_flavor(dish_id,name,value, create_time, update_time,
                 create_user, update_user)
        values(#{dishId},#{name},#{value},
               #{createTime},#{updateTime},
               #{createUser},#{updateUser})
    </insert>
    <!--通过id查询口味-->
    <select id="selectById" resultType="com.ordersystem.pojo.DishFlavor">
        select *
        from dish_flavor where dish_id=#{id};
    </select>
    <!--修改菜品口味-->
    <update id="update" useGeneratedKeys="true" keyProperty="id">
        update dish_flavor
        <set>
            name=#{name},
            value=#{value},
            update_time=#{updateTime},
            update_user=#{updateUser}
        </set>
        where id=#{dishId}
    </update>
    <!--删除口味-->
    <delete id="deleteById">
        delete from dish_flavor where dish_id=#{dishId}
    </delete>
    
</mapper>