<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ordersystem.mapper.DishMapper">
    <!--查询页总数-->
    <select id="selectTotal" resultType="java.lang.Long">
        select count(*) from dish
    </select>
    <!--查询页内容-->
    <select id="selectCurrentData" resultType="com.ordersystem.pojo.Dish">
        select * from dish
        <if test="name!=null">
            where name=#{name}
        </if>
        limit #{start},#{pageSize}
    </select>
    <!--添加菜品-->
    <!--
        useGenerateKey: ture 告诉Mybatis，我需要用数据库自动生成的主键
        keyProperty：Mapper接口中实体参数的成员变量，告诉MyBatis，把自动生成的主键赋值给哪个成员变量
    -->
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into
            dish(name, category_id, price, code, image,
            description,create_time, update_time,
            create_user, update_user)
        values(#{name},#{categoryId},#{price},#{code},#{image},
               #{description},#{createTime},#{updateTime},
               #{createUser},#{updateUser})
    </insert>
    <!--更新状态-->
    <update id="updateStatus">
        update dish
        set status=#{status},update_time=#{updateTime},
            update_user=#{updateUser}
        where id=#{id}
    </update>
    <!--通过id删除-->
    <update id="deleteById">
        delete from dish where id=#{id}
    </update>
    <!--通过id查询菜品-->
    <select id="selectById" resultType="com.ordersystem.pojo.dto.DishDto">
        select * from dish where id=#{id};
    </select>
    <!--修改菜品-->
    <update id="update" useGeneratedKeys="true" keyProperty="id">
        update dish
        <set>
            name=#{name},
            price=#{price},
            code=#{code},
            image=#{image},
            description=#{description},
            category_id=#{categoryId},
            update_time=#{updateTime},
            update_user=#{updateUser}
            <if test="sort!=null">
                sort=#{sort}
            </if>
        </set>
        where id=#{id}
    </update>
    <!--根据种类id进行查询-->
    <select id="selectByType" resultType="com.ordersystem.pojo.Dish">
        select * from dish where category_id=#{categoryId}
    </select>
</mapper>